:root {
  --isabelline: #edede9ff;
  --pale-silver: #d6ccc2ff;
  --linen: #f5ebe0ff;
  --champagne-pink: #e3d5caff;
  --desert-sand: #d5bdafff;
}

/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header */

header {
  height: 10vh;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;

  background-color: var(--desert-sand);
}

header h1 {
  font-size: 44px;
  font-weight: 800;
}

header .log-in-btn {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-radius: 5%;
  font-size: 28px;
  font-weight: 800;
  background-color: inherit;
}

header .log-in-btn:hover {
  background-color: var(--linen);
}

/* main */

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  background-color: var(--champagne-pink);
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

#add-book {
  font-size: 22px;
  font-weight: 600;
  padding: 1%;
  background-color: inherit;
  border-radius: 5%;
}

#add-book:hover {
  background-color: var(--linen);
}

/* BOOKS GRID */

.books-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 5%;
  padding-right: 5%;
}

.book-card {

  background-color: var(--isabelline);
}


/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;

  height: 8vh;
  flex-shrink: 0;

  background-color: var(--pale-silver);
}

footer a {
  font-size: large;
  text-decoration: none;
}